<title>Homepage</title>
<h1>Homepage</h1>
<h2>Welcome to Read Review</h2>
<p>Read Review is a website to create reviews of books</p>
<a href="/sign_up">Signup</a>
<a href="/sign_in">Sign in</a>
<form action="/book_search_results" method="GET">
Search for books <input type="text" name="query">
<br>
<input type="submit" value="Search">
</form>
<p>Choose function:</p>
<ul>
    <li><a href="/create_review">Create a review</a></li>
    <li><a href="/new_author">Create an author</a></li>
    <li><a href="/new_book">Add a new book</a></li>
</ul>