<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Read Review - {% block title %}{% endblock %}</title>
  <div class="header">
    <h1>Read Review</h1>
    <a href="/">Homepage</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  {% block content %}{% endblock %}
