<!doctype html>
{% extends "layout.html" %}
{% block title %}Add a new book{% endblock %}
{% block content %}
<form action="/create_book" method="POST">
<p>
    Author first name <br>
    <textarea name="author_first_name" cols="15" rows="1"></textarea>
<p>
    Author last name <br>
    <textarea name="author_last_name" cols="15" rows="1"></textarea>
<p>
    Title <br>
    <textarea name="title" cols="15" rows="1"></textarea>
<p>
<p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</p>
    <input type="submit" value="Add">
</form>
{% endblock %}