<!doctype html>
{% extends "layout.html" %}
{% block title %}New book{% endblock %}
{% block content %}
<div class="info">
    <h2>Add a new book</h2>
</div>
<div class="form">
    <form action="/create_book" method="POST">
        <p>
            Author first name
        </p>     
        <br>
        <textarea name="author_first_name" cols="30" rows="2"></textarea>
        <p>
            Author last name
        </p>
        <br>
        <textarea name="author_last_name" cols="30" rows="2"></textarea>
        <p>
            Title 
        </p>
        <br>
        <textarea name="title" cols="30" rows="5"></textarea>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
    <p> 
        Add <button type="submit"><span class="material-icons">add_circle</span></button>
    </p>
    </form>
</div>
{% endblock %}