<!doctype html>
{% extends "layout.html" %}
{% block title %}New author{% endblock %}
{% block content %}
<h1>Add a new author</h1>
<form action="/create_author" method="POST">
<p>
    First name <br>
    <textarea name="first_name" cols="15" rows="1"></textarea>
<p>
    Last name <br>
    <textarea name="last_name" cols="15" rows="1"></textarea>
<p>
<p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</p>
    <input type="submit" value="Publish">
</form>
{% endblock %}