<!doctype html>
{% extends "layout.html" %}
{% block title %}Read list{% endblock %}
{% block content %}
<div class="info">
    <p>
        Want to see your friend's read list?
        Search for a user and you can see what they are planning to read next!
    </p>
    <form action="/user_search_results" method="GET">
        <input type="text" name="query">
        <button type="submit"><span class="material-icons">search</span></button>
    </form>
</div>
<div class="info">
    <h2>Your read list</h2>
</div>
{% if results %}
    {% for result in results %}
        <div class="info">
            <b>{{ result.title }}</b><br>
            {{ result.first_name }} {{ result.last_name }} <br>
            <a href="/read_list/{{ user_id }}/delete/{{ result.id }}"><button><span class="material-icons">delete</span></button></a>
        </div>
    {% endfor %}
{% else %}
<div class="info">
    <p>
        Your read list is empty.
    </p>
</div>
{% endif %}
{% endblock %}
