body {
    margin: 1em;
    max-width: 45em;
    font-family: "Roboto Mono", serif;
    color: #444;
    line-height: 1.5;
    padding: 1em;
    max-width: 50em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}


button {
    border: none;
    font-family: "Roboto Mono", serif;
    background-color: lightgrey;
    color: #444;
    vertical-align: middle;

}


input {
    border: none;
    border-radius: 0.5em;
    height: 2em;
    font-family: "Roboto Mono", serif;
}

textarea {
    border: none;
    border-radius: 0.5em;
    font-family: "Roboto Mono", serif;
    width: auto;
    height: auto;
    resize: none;
    max-width: 40em;
    width: 95%;
}

.top5 {
    line-height: 1em;
    background:  lightgray;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    
}

.header {
    line-height: 1.5;
    padding: 0.9em;
    background:  lightgray;
    border-radius: 1em;
    margin: 1em;
    
}

.info {
    line-height: 1.5;
    padding: 1em;
    background:  lightgray;
    border-radius: 1em;
    margin: 1em;
  
}

.form {
    background:  lightgray;
    border-radius: 1em;
    padding: 0.9em;
    margin: 1em;
}



.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }