body {
    margin: auto;
    max-width: 45em;
    font-family: "Times New Roman", Times, serif;
    color: #444;
    line-height: 1.5;
    padding: 3em 3em;
    max-width: 50em;
}
h1 {
    color: #555;
}